# dependencies
/node_modules
mcp/node_modules

# next.js
/.next/
/out/
next-env.d.ts

# production
/build

# prisma / sqlite databases
*.db
*.db-journal
*.sqlite
/prisma/*.db

# env
.env
.env.local
.env.*.local

# misc
.DS_Store
*.pem
npm-debug.log*
.vercel
/coverage
